/* importação de fonte externa... peguei do fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  /* CSS Reset */
    }

/*Estilos da página index.html*/

body {
    background-color: #F8EBDB;
}

#menu {
    background-color: #BCA476;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem; /* gap serve para criar um vão entre os itens do display flex, funciona como uma margem */
}

#menu li {
    display: inline;
    padding: 30px;
}

#menu li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    color:aliceblue;
    padding: 30px;
    margin-top: 10px;
    font-weight: 600;
}

#menu li a:hover {
    color:#552800;
}

p {
    color: #552800;
}

h1,
h2 {
  color: #552800;
  text-align: center;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify
}

.pd30 {
    padding: 30px;
}

.img {
    border-radius: 10%;
}

.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.br-50 {
    border-radius: 50%;
 }
 
 .wh-300{
    width: 300px;
    height: 300px;
 
 }
 
 .tm-social {
    width: 50px;
    height: 50px;
 }
 
 .mb-50{
    margin-bottom: 50px;
 }




/*Estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
 }


